.contact-container{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.contact-container_header{
    color: var(--font-color);
    background-color: var(--background-color);
    padding: 20px 20px 0 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}


.contact_line{
    border: none;
    border: 1px solid #202C33;
    margin-top: 20px;
} 

@media screen and (min-width: 1500px){
    .contact-container_header h1{
        font-size: 45px;
    }
}