.message_sent{
    box-sizing: border-box;
    width: 300px;
    border-radius: 10px;
    background-color: #1F4D37;
    color: rgb(217, 212, 212);
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-left: auto;
    margin-bottom: 4px;
    margin-top: 4px;
}

.message_received{
    box-sizing: border-box;
    width: 300px;
    border-radius: 10px;
    background-color: var(--background-color-400);
    color: rgb(217, 212, 212);
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-right: auto;
    margin-bottom: 4px;
    margin-top: 4px;
}

.message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message_text{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.message_time{
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    color: var(--font-color);
    display: flex;
    align-items: flex-end;
}

.message_button_delete{
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    border-color: rgb(83, 116, 83);
    background-color: rgb(190, 235, 190);
}

@media screen and (min-width: 1500px){
    .message_text{
        font-size: 18px;
    }
    .message_time{
        font-size: 14px;
    }
}

@media screen and (max-width: 445px){
    .message_text{
        font-size: 13px;
    }
    .message_time{
        font-size: 9px;
    }
    .message_sent{
        width: 200px;
    }
    .message_received{
        width: 200px;
    }
}